# Build outputs
Debug/
Release/
x64/
x86/
*.obj
*.pch
*.pdb
*.ilk
*.exp
*.lib
*.exe
*.dll

# Visual Studio
.vs/
*.user
*.suo
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.VC.opendb
ipch/
enc_temp_folder/

# vcpkg
vcpkg_installed/

# Logs
*.log
